@import './website/index';


*{
    font-family: poppins;
}
.modal.fade.show {
    opacity: 1;
}

.sidebar-item a:hover {
    color: #336a9d;
    background-color: aquamarine;
}

.navbar {
    padding: 0.5rem 1rem;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    display: inline-block;
    max-width: 150px;
    max-height: 50px;
}

[data-doctype="Web Form"] .page_content {
    max-width: unset;
}


svg.radial-progress {
    height: auto;
    max-width: 200px;
    padding: 1em;
    transform: rotate(-90deg);
    width: 100%;
}

svg.radial-progress circle {
    fill: rgba(0, 0, 0, 0);
    stroke: #fff;
    stroke-dashoffset: 219.91148575129;
    /* Circumference */
    stroke-width: 10;
}

svg.radial-progress circle.incomplete {
    opacity: 0.25;
}

svg.radial-progress circle.complete {
    stroke-dasharray: 219.91148575129;
    /* Circumference */
}

svg.radial-progress text {
    font-weight: 800;
    text-anchor: middle;
    fill: #000 !important; 
}

svg.radial-progress circle {
    stroke: #83e4e2;
}


.modal-dialog-scrollable {
    height: auto !important; 
}

text.percentage{
    color:black !important;
}


.frappe-card {
     
    background: rgba( 221, 232, 241, 0.5 ) !important;
    box-shadow: 0 3px 13px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    }


.sidebar-column.col-sm-2.d-flex.flex-column.justify-content-between {
        
    /*background: rgba( 255, 255, 255, 0 ) !important;*/
    /*box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );*/
    /*backdrop-filter: blur( 2px );*/
    /*-webkit-backdrop-filter: blur( 2px );*/
    /*border-radius: 10px;*/
    /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
    /* z-index: 1000;*/
    /* height: 100% !important;*/
    /*position: fixed;*/
    
        background: rgba( 255, 255, 255, 0 ) !important;
        box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px ) !important;
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        z-index: 1000;
        height: 100% !important;
        /* position: fixed; */
        margin: 0px auto;
        position: relative;
        padding-top: 0px;
        width: 240px;
        float: right;
        
    }

.sidebar-column.col-sm-2.d-flex.flex-column.justify-content-between a:active {
        background-color: #04AA6D;
        color: #cf1111;
    }

.sidebar-column.col-sm-2.d-flex.flex-column.justify-content-between a:hover {
        color: #000000;
        background: rgb(255 255 255 / 50%);
       
        
    }

.button.btn.btn-default.btn-sm.btn-attach {
    
    background: rgba(255,255,255,0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.25);
        
        
        
    }

.form-control {
        background: rgba( 221, 232, 241, 0.5 ) !important;
        box-shadow: 0 3px 13px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }

.attached-file.flex.justify-between.align-center{
        background: rgba( 221, 232, 241, 0.5 ) !important;
        box-shadow: 0 3px 13px 0 rgb(31 38 135 / 37%);
        backdrop-filter: blur( 2px );
        -webkit-backdrop-filter: blur( 2px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
}


btn:not(:disabled):not(.disabled) {
        background: rgba(255,255,255,0.5);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        border: 1px solid rgba(255,255,255,0.25);
        cursor: pointer;
    }

// div#page-tempalate-page {
//         /* background: rgba( 221, 232, 241, 0.5 ) !important; */
//         /*box-shadow: 0 3px 13px 0 rgb(31 38 135 / 37%);*/
//         /*backdrop-filter: blur( 2px );*/
//         /*-webkit-backdrop-filter: blur( 2px );*/
//         /*border-radius: 10px;*/
//         /*border: 1px solid rgba( 255, 255, 255, 0.18 );*/
//         background: cadetblue;
//     }



html{
    height: auto;
}
body{    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef 58%);
}
.avatar-frame.standard-image {
    background: rgba( 221, 232, 241, 0.5 ) !important;
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
}

nav.navbar.navbar-light.navbar-expand-lg {
    background: rgba( 221, 232, 241, 0.5 ) !important;
    box-shadow: 0 3px 13px 0 rgb(31 38 135 / 37%);
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

h1 {
    margin: 0;
    font-size: revert;

}




label{
    color : black;
    font-weight: 500;
    font-size: 15px;
}