@import './website/index';


     
.modal.fade.show{
     opacity: 1;
}  

.sidebar-item a:hover {
     color: #336a9d;
     background-color: aquamarine;
 }
 .navbar{
     padding:0.5rem 1rem;
 }
 .navbar-brand{
     padding : 0px;
 }
 .navbar-brand img {
     display: inline-block;
     max-width: 150px;
     max-height: 50px;
 }

 [data-doctype="Web Form"] .page_content{
     max-width: unset;
 }